.loginContainer {
  width: 900px;
  height: 700px;
  border-radius: 15px;
  overflow: hidden;
}

.right {
  background-color: #1f28eb;
  color: white;
  font-size: 70px;
  height: 100%;
  text-align: center;
}


.left {
  background-color: white;
  height: 100%;
}

.welcomeText {
  color: black;
  font-size: 35px;
  text-align: center;
}

.authenticationInputs {
  width: 200px;
}

.haveAnAccount {
  padding-left: 15px;
  color: lightgray;
}
